<mat-card class="example-card">

     
      <h1 class="text-center font-weight-bold">Nuevo Destinatario</h1>

      <mat-stepper linear #stepper>
        <mat-step [stepControl]="firstFormGroup" [editable]="true">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Información personal</ng-template>
    
            
            <table class="example-full-width" cellspacing="0"><tr>
                <td><mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>RUT</mat-label>
                  <input matInput formControlName="isvalidRut" placeholder="Ej. 12345678-9">
                </mat-form-field></td>
                <td><mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Nombre</mat-label>
                  <input matInput formControlName="isvalidNombre" placeholder="" required>
                </mat-form-field></td>
              </tr></table>

              <table class="example-full-width" cellspacing="0"><tr>
                <td><mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Correo</mat-label>
                    <input matInput formControlName="isvalidCorreo" placeholder="ejemplo@dominio.com" >
                  </mat-form-field></td>
                  <td><mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Telefono</mat-label>
                    <input matInput placeholder="956111298">
                  </mat-form-field></td>
              </tr></table>
            
            <div>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" [editable]="true">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Cuenta Bancaria</ng-template>
            
            <table class="example-full-width" cellspacing="0"><tr>
                <td><mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Banco</mat-label>
                    <mat-select formControlName="isvalidBanco">
                      <mat-option value="one">First option</mat-option>
                      <mat-option value="two">Second option</mat-option>
                    </mat-select>
                  </mat-form-field></td>

                <td><mat-form-field class="example-full-width"  appearance="fill">
                    <mat-label>Tipo de Cuenta</mat-label>
                    <mat-select formControlName="isvalidTipoCuenta">
                      <mat-option value="CC">Cuenta Corriente</mat-option>
                      <mat-option value="CV">Cuenta Vista</mat-option>
                      <mat-option value="CA">Cuenta de Ahorro</mat-option>
                    </mat-select>
                  </mat-form-field></td>

              </tr></table>

              <table class="example-full-width" cellspacing="0"><tr>
  
                <td><mat-form-field  class="example-half-width" appearance="fill">
                    <mat-label>N de Cuenta</mat-label>
                    <input matInput  formControlName="isvalidNumCuenta" placeholder="123456789012" >
                  </mat-form-field></td>
                  
              </tr></table>
            
            
            <div>
              <button mat-button matStepperPrevious>Atras</button>
              <button mat-button matStepperNext>Crear</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Listo!</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Crear nuevo destinatario</button>
            <button mat-button (click)="stepper.reset()">Transferir</button>
          </div>
        </mat-step>
      </mat-stepper>

  </mat-card>



  
  
  



