
<mat-card class="example-card">
  <h1 class="text-center font-weight-bold">Historial de Transferencias</h1>


<table mat-table [dataSource]="historial" class="mat-elevation-z8">
  <!-- Item Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let item"> {{item.nombre}} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- RUT Column -->
  <ng-container matColumnDef="rut">
    <th mat-header-cell *matHeaderCellDef>RUT</th>
    <td mat-cell *matCellDef="let item"> {{item.rut}} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

   <!-- Banco Column -->
   <ng-container matColumnDef="banco">
    <th mat-header-cell *matHeaderCellDef>Banco destino</th>
    <td mat-cell *matCellDef="let item"> {{item.bancoDestino.name}} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- tipoCuenta Column -->
  <ng-container matColumnDef="tipoCuenta">
    <th mat-header-cell *matHeaderCellDef>Tipo de cuenta</th>
    <td mat-cell *matCellDef="let item"> {{item.tipoCuenta.name}} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- Monto Column -->
  <ng-container matColumnDef="monto">
    <th mat-header-cell *matHeaderCellDef>Monto</th>
    <td mat-cell *matCellDef="let item"> {{ item.monto | currency:'$':'symbol' }} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>

<mat-paginator
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page">
</mat-paginator>


</mat-card>